#responses {
	font-size: 12px;
}

#statusBar {
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0;
}
#serverStatusBar {
	position: fixed;
	bottom: 0.4em;
	right: 0.4em;
	top: auto;
	left: auto;
	padding: 0.2em 0.2em 0.2em 0.2em;
}

.border-side {
	border-right: 1px solid #979797;
}

.border-head {
  border-left: 1px solid #979797; 
  border-top: 1px solid #979797; 
  border-bottom: 3px solid #000000; 
	background-color: #d54444;
	color: #ffffff;
}

.border-right {
	border-right: 1px solid #979797;	
}

.border-bottom {
	border-bottom: 1px solid #eeeeee;	
}

::-webkit-scrollbar {
    width: 15px;
		background: #c1c1c1;
}

::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    width: 15px;
    background: #c1c1c1;
}

#timetable {
	border: 1px solid #979797;
	margin-right: -30px;
	height: 350px;
	overflow-y: auto;
}

.primary-color {
	background-color: #5bff81;
}

div.back {
	background-color: #ffffff;
}

.event {
	background-color: #00d1b2;
	border-radius: 3px;
	margin-bottom: 2px;
	box-shadow: 2px 2px 5px #888888;
}

.ui.grid>.column:not(.row) {
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
}

.shadow {
   box-shadow: 2px 2px 5px #888888;
}

.record {
	box-shadow: 0px 0px 0px #000000;
	border-width: 0px;
	background-color: white;
}