#responses {
	font-size: 12px;
}

#statusBar {
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0;
}
#serverStatusBar {
	position: fixed;
	bottom: 0.4em;
	right: 0.4em;
	top: auto;
	left: auto;
	padding: 0.2em 0.2em 0.2em 0.2em;
}

.border-side {
	border-right: 1px solid #979797;
}

.border-head {
	border-left: 1px solid #979797;	
	border-top: 1px solid #979797;	
}

.border-right {
	border-right: 1px solid #979797;	
}

.border-bottom {
	border-bottom: 1px solid #979797;	
}

::-webkit-scrollbar {
    width: 15px;
		background: #c1c1c1;
}

::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    width: 15px;
    background: #c1c1c1;
}

#timetable {
	border: 1px solid #979797;
	margin-right: -30px;
	height: 450px;
	overflow-y: auto;
}

.primary-color {
	background-color: #5bff81;
}

.event {
	background-color: #5bff81;
	border-radius: 10px;
	margin-bottom: 2px;
}

.ui.grid>.column:not(.row) {
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
}


